/*contenido 1*/
.box01{
	margin-top: 70px;
/*	background-color: yellow;
*/
}

.icono01 {
	color: #95CD24;
}

.botonlogueo {
	margin-left: 50px;
	margin-top: 10px;
}

/*contenido 02

.box02 {
	margin: 20px 0px 20px 0px;
	padding: 20px;
} */

/*contenido 03*/

.box03 {
	padding: 10px;
/*	background-color: pink;
	*/
}

/*contenido 04*/

.box04 p {
	font-size: 16px;
}

.social{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}